@define-color bg #171412;
@define-color fg #f4f1f1;
@define-color gray1 #fa3d3d;
@define-color gray2 #9d8d7b;
@define-color gray3 #fb5b5d;
@define-color gray4 #fa4c4c;
@define-color gray5 #fb6a6b;
@define-color fg_bright #f4f1f1;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}